main {
    background-color: $primary-color;
    section {
        h1 {
            text-transform: uppercase;
        }
        p {
            color: red;
        }
        .button-link {
            @include buttonLink;
            background-color: blueviolet;

            &.button-link--pink {
                background-color: palevioletred
            }

            &.button-link--green {
                @include buttonLink;
            }
        }

        .normal-link {
            @extend .button-link;
        }
    }
}
